# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# VSCode
.vscode/
*.code-workspace

# Environment files
*/.env

# Python
lab1-worker/.venv/
lab1-worker/__pycache__/
lab1-worker/*.pyc
lab2-worker-rest/.venv/
lab2-worker-rest/__pycache__/
lab2-worker-rest/*.pyc